notification{
  .notice{
    background-color: $light_blue;
    color: white;
    text-align: center;
  }

  .aleat{
    background-color: $alert_orange;
    color: white;
    text-align: center;
  }
}